---
import Card from "./ui/card.astro";

export interface Props {
	name: string;
	roaster: string;
	notes: string;
}

const { name, roaster, notes } = Astro.props;
---

<Card>
	<h3 class="font-medium text-rose-pine-text">{name}</h3>
	<p class="text-rose-pine-muted">{roaster}</p>
	<p class="text-rose-pine-subtle">{notes}</p>
</Card>
