---
import Card from "./ui/card.astro";

export interface Props {
	name: string;
	location: string;
}
const { name, location } = Astro.props;
---

<Card>
	<p class="text-sm font-medium text-rose-pine-text">{name}</p>
	<p class="text-xs text-rose-pine-muted">{location}</p>
</Card>
