---
import Card from "./ui/card.astro";
import TagList from "./ui/tag-list.astro";

export interface Props {
	id?: string;
	title: string;
	description: string;
	tags?: string[];
	meta?: string;
}
const { id, title, description, tags = [], meta } = Astro.props;
---

<Card>
	{meta ? <p class="text-rose-pine-muted">{meta}</p> : null}
	<h3 class="font-medium text-rose-pine-iris">{title}</h3>
	<p class="text-rose-pine-subtle">{description}</p>
	<TagList {tags} />
</Card>
