---
import ArrowNarrowRightIcon from "~icons/tabler/arrow-narrow-right";

export interface Props {
	id?: string;
	title: string;
	href: string;
	gridClasses?: string;
}

const { id, title, href } = Astro.props;
---

<section class="grid gap-3" id={id}>
	<div class="flex items-center justify-between">
		<h2 class="text-sm font-medium text-rose-pine-muted font-mono">
			{title}
		</h2>
		<a
			href={href}
			class="text-xs text-rose-pine-iris hover:border-b border-dashed font-mono flex items-center gap-1"
		>
			View All
			<ArrowNarrowRightIcon />
		</a>
	</div>
	<div
		class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
	>
		<slot />
	</div>
</section>
