---
export interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<ul class="flex flex-wrap gap-2">
	{
		tags.map((tag) => (
			<li class="bg-rose-pine-highlight-low flex items-center justify-center px-2 text-xs text-rose-pine-text">
				{tag}
			</li>
		))
	}
</ul>
